# 1 Импорт

In [2]:
import pandas as pd

# 2 Функции

In [3]:
def convert_str_to_float(x):
    return int(x[0])/int(x[2]) if len(x) == 3 else int(x)

In [4]:
def computation_eigen_values(df):
    df = df.applymap(convert_str_to_float)
    df['eigen_values'] = (df['Работа 1'] * df['Работа 2'] * df['Работа 3'] * df['Работа 4'] * df['Работа 5'] * df['Работа 6'])**(1/6) 
    df['normal_eigen'] = df['eigen_values'] / df['eigen_values'].sum()                  
    return df

In [5]:
def computation_eigen_values_crit(df):
    df = df.applymap(convert_str_to_float)
    df['eigen_values'] = (df['Местоположение'] * df['Заработная плата'] * df['Коллеги'] * df['Рост карьеры'] * df['Престиж'])**(1/5) 
    df['normal_eigen'] = df['eigen_values'] / df['eigen_values'].sum()                  
    return df

In [6]:
def check_consistency(df):
    df['consistency'] = df[df.columns[0:6]].sum() * df['normal_eigen']
    index_consistency = df['consistency'].sum()
    index_consistency = (index_consistency - 6)/(6 - 1)
    return df, index_consistency

In [54]:
def weight_calculation(df):
    weights = []
    for i in range(0, 6):
        weight = (df_pr.iloc[i, 7] * df.iloc[4, 6]) + (df_zp.iloc[i, 7] * df.iloc[1, 6]) + (df_mp.iloc[i, 7] * df.iloc[0, 6]) + (df_kol.iloc[i, 7] * df.iloc[2, 6]) + (df_rk.iloc[i, 7] * df.iloc[3, 6])
        weights.append(weight)
    df_weights = pd.DataFrame(weights, index=['w1', 'w2', 'w3', 'w4', 'w5', 'w6'])
    return df_weights

In [78]:
def weight_calculation_min(df):
    weights = []
    for i in range(0, 6):
        pr = (df_pr.iloc[i, 7] * df.iloc[4, 6])  
        zp = (df_zp.iloc[i, 7] * df.iloc[1, 6])  
        mp = (df_mp.iloc[i, 7] * df.iloc[0, 6])  
        kol = (df_kol.iloc[i, 7] * df.iloc[2, 6])  
        rk = (df_rk.iloc[i, 7] * df.iloc[3, 6])
        weight = [pr, zp, mp, kol, rk]
        weights.append(min(weight))
    df_weights = pd.DataFrame(weights, index=['w1', 'w2', 'w3', 'w4', 'w5', 'w6'])
    return df_weights

In [70]:
def maximum_expected_utility(df):
    works = []
    for i in range(0, 6):
        work = (df.iloc[i, 0] * 0.5) + (df.iloc[i, 1] * 0.2) + (df.iloc[i, 2] * 0.3)
        works.append(work)
    works = pd.DataFrame(works, index=['w1', 'w2', 'w3', 'w4', 'w5', 'w6'])
    return works

In [9]:
def wald_criterion(df):
    df = df.T
    mins = []
    for i in range(0, 6):
        mins.append(df[df.columns[i]].min())
    return mins

# 3 Создание матрицы попарных сравнений

## 3.1 Престиж

In [34]:
alternatives = ['Работа ' + str(x) for x in range(1, 7)]
values = [['1', '8/1', '2/1', '5/1', '6/1', '9/1'],
          ['1/8', '1', '1/6', '1/3', '1/2', '2/1'],
          ['1/2', '6/1', '1', '3/1', '4/1', '7/1'],
          ['1/5', '3/1', '1/3', '1', '2/1', '4/1'],
          ['1/6', '2/1', '1/4', '1/2', '1', '3/1'],
          ['1/9', '1/2', '1/7', '1/4', '1/3', '1']]

df_pr = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_pr

         Работа 1 Работа 2 Работа 3 Работа 4 Работа 5 Работа 6
Работа 1        1      8/1      2/1      5/1      6/1      9/1
Работа 2      1/8        1      1/6      1/3      1/2      2/1
Работа 3      1/2      6/1        1      3/1      4/1      7/1
Работа 4      1/5      3/1      1/3        1      2/1      4/1
Работа 5      1/6      2/1      1/4      1/2        1      3/1
Работа 6      1/9      1/2      1/7      1/4      1/3        1

## 3.2 Заработная плата

In [35]:
alternatives = ['Работа ' + str(x) for x in range(1, 7)]
values = [['1', '2/1', '2/1', '1/2', '3/1', '4/1'],
          ['1/2', '1', '2/1', '1/3', '2/1', '2/1'],
          ['1/2', '1/2', '1', '1/2', '2/1', '3/1'],
          ['2/1', '3/1', '2/1', '1', '4/1', '5/1'],
          ['1/3', '1/2', '1/2', '1/4', '1', '2/1'],
          ['1/4', '1/2', '1/3', '1/5', '1/2', '1']]

df_zp = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_zp

         Работа 1 Работа 2 Работа 3 Работа 4 Работа 5 Работа 6
Работа 1        1      2/1      2/1      1/2      3/1      4/1
Работа 2      1/2        1      2/1      1/3      2/1      2/1
Работа 3      1/2      1/2        1      1/2      2/1      3/1
Работа 4      2/1      3/1      2/1        1      4/1      5/1
Работа 5      1/3      1/2      1/2      1/4        1      2/1
Работа 6      1/4      1/2      1/3      1/5      1/2        1

## 3.3 Местоположение

In [36]:
alternatives = ['Работа ' + str(x) for x in range(1, 7)]
values = [['1', '2/1', '5/1', '4/1', '2/1', '3/1'],
          ['1/2', '1', '4/1', '3/1', '2/1', '2/1'],
          ['1/5', '1/4', '1', '1/2', '1/3', '1/2'],
          ['1/4', '1/3', '2/1', '1', '1/2', '1/2'],
          ['1/2', '1/2', '3/1', '2/1', '1', '2/1'],
          ['1/3', '1/2', '2/1', '2/1', '1/2', '1']]

df_mp = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_mp

         Работа 1 Работа 2 Работа 3 Работа 4 Работа 5 Работа 6
Работа 1        1      2/1      5/1      4/1      2/1      3/1
Работа 2      1/2        1      4/1      3/1      2/1      2/1
Работа 3      1/5      1/4        1      1/2      1/3      1/2
Работа 4      1/4      1/3      2/1        1      1/2      1/2
Работа 5      1/2      1/2      3/1      2/1        1      2/1
Работа 6      1/3      1/2      2/1      2/1      1/2        1

## 3.4 Коллеги

In [37]:
alternatives = ['Работа ' + str(x) for x in range(1, 7)]
values = [['1', '1/3', '2/1', '1/2', '2/1', '1/3'],
          ['3/1', '1', '4/1', '2/1', '5/1', '2/1'],
          ['1/2', '1/4', '1', '1/2', '2/1', '1/3'],
          ['2/1', '1/2', '2/1', '1', '3/1', '2/1'],
          ['1/2', '1/5', '1/2', '1/3', '1', '1/4'],
          ['3/1', '1/2', '3/1', '1/2', '4/1', '1']]

df_kol = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_kol

         Работа 1 Работа 2 Работа 3 Работа 4 Работа 5 Работа 6
Работа 1        1      1/3      2/1      1/2      2/1      1/3
Работа 2      3/1        1      4/1      2/1      5/1      2/1
Работа 3      1/2      1/4        1      1/2      2/1      1/3
Работа 4      2/1      1/2      2/1        1      3/1      2/1
Работа 5      1/2      1/5      1/2      1/3        1      1/4
Работа 6      3/1      1/2      3/1      1/2      4/1        1

## 3.5 Рост карьеры

In [38]:
alternatives = ['Работа ' + str(x) for x in range(1, 7)]
values = [['1', '1/3', '2/1', '2/1', '1/2', '2/1'],
          ['3/1', '1', '4/1', '5/1', '2/1', '2/1'],
          ['1/2', '1/4', '1', '2/1', '1/2', '3/1'],
          ['1/2', '1/5', '1/2', '1', '1/3', '1/4'],
          ['2/1', '1/2', '2/1', '3/1', '1', '1/2'],
          ['1/2', '1/2', '1/3', '4/1', '2/1', '1']]

df_rk = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_rk

         Работа 1 Работа 2 Работа 3 Работа 4 Работа 5 Работа 6
Работа 1        1      1/3      2/1      2/1      1/2      2/1
Работа 2      3/1        1      4/1      5/1      2/1      2/1
Работа 3      1/2      1/4        1      2/1      1/2      3/1
Работа 4      1/2      1/5      1/2        1      1/3      1/4
Работа 5      2/1      1/2      2/1      3/1        1      1/2
Работа 6      1/2      1/2      1/3      4/1      2/1        1

## 3.6 Общее отношение

In [39]:
values = [['10', '7', '9', '5', '6'],
          ['2', '5', '8', '8', '9'],
          ['8', '6', '4', '4', '5'],
          ['5', '8', '5', '6', '4'],
          ['4', '4', '7', '3', '7'],
          ['1', '3', '6', '7', '8']]
df_exp_as = pd.DataFrame(values, index=alternatives, columns=['Престиж', 'Заработная плата', 'Местоположение', 'Коллеги', 'Рост карьеры'])
df_exp_as

         Престиж Заработная плата Местоположение Коллеги Рост карьеры
Работа 1      10                7              9       5            6
Работа 2       2                5              8       8            9
Работа 3       8                6              4       4            5
Работа 4       5                8              5       6            4
Работа 5       4                4              7       3            7
Работа 6       1                3              6       7            8

# 4 Вычисление собственных значений

## 4.1 Престиж

In [40]:
df_pr = computation_eigen_values(df_pr)
df_pr

,Работа 1,Работа 2,Работа 3,Работа 4,Работа 5,Работа 6,eigen_values,normal_eigen
Работа 1,1.000000,8.0,2.000000,5.000000,6.000000,9.0,4.035654,0.444973
Работа 2,0.125000,1.0,0.166667,0.333333,0.500000,2.0,0.436790,0.048161
Работа 3,0.500000,6.0,1.000000,3.000000,4.000000,7.0,2.513237,0.277110
Работа 4,0.200000,3.0,0.333333,1.000000,2.000000,4.0,1.081484,0.119245
Работа 5,0.166667,2.0,0.250000,0.500000,1.000000,3.0,0.707107,0.077966
Работа 6,0.111111,0.5,0.142857,0.250000,0.333333,1.0,0.295172,0.032546

## 4.2 Заработная плата

In [41]:
df_zp = computation_eigen_values(df_zp)
df_zp

,Работа 1,Работа 2,Работа 3,Работа 4,Работа 5,Работа 6,eigen_values,normal_eigen
Работа 1,1.000000,2.0,2.000000,0.500000,3.0,4.0,1.698381,0.236428
Работа 2,0.500000,1.0,2.000000,0.333333,2.0,2.0,1.049115,0.146045
Работа 3,0.500000,0.5,1.000000,0.500000,2.0,3.0,0.953184,0.132691
Работа 4,2.000000,3.0,2.000000,1.000000,4.0,5.0,2.492883,0.347029
Работа 5,0.333333,0.5,0.500000,0.250000,1.0,2.0,0.588796,0.081965
Работа 6,0.250000,0.5,0.333333,0.200000,0.5,1.0,0.401142,0.055842

## 4.3 Местоположение

In [42]:
df_mp = computation_eigen_values(df_mp)
df_mp

,Работа 1,Работа 2,Работа 3,Работа 4,Работа 5,Работа 6,eigen_values,normal_eigen
Работа 1,1.000000,2.000000,5.0,4.0,2.000000,3.0,2.492883,0.345522
Работа 2,0.500000,1.000000,4.0,3.0,2.000000,2.0,1.698381,0.235402
Работа 3,0.200000,0.250000,1.0,0.5,0.333333,0.5,0.401142,0.055600
Работа 4,0.250000,0.333333,2.0,1.0,0.500000,0.5,0.588796,0.081609
Работа 5,0.500000,0.500000,3.0,2.0,1.000000,2.0,1.200937,0.166454
Работа 6,0.333333,0.500000,2.0,2.0,0.500000,1.0,0.832683,0.115413

## 4.4 Коллеги

In [43]:
df_kol = computation_eigen_values(df_kol)
df_kol

,Работа 1,Работа 2,Работа 3,Работа 4,Работа 5,Работа 6,eigen_values,normal_eigen
Работа 1,1.0,0.333333,2.0,0.500000,2.0,0.333333,0.778272,0.107847
Работа 2,3.0,1.000000,4.0,2.000000,5.0,2.000000,2.492883,0.345446
Работа 3,0.5,0.250000,1.0,0.500000,2.0,0.333333,0.588796,0.081591
Работа 4,2.0,0.500000,2.0,1.000000,3.0,2.000000,1.513086,0.209672
Работа 5,0.5,0.200000,0.5,0.333333,1.0,0.250000,0.401142,0.055587
Работа 6,3.0,0.500000,3.0,0.500000,4.0,1.000000,1.442250,0.199856

## 4.5 Рост карьеры

In [44]:
df_rk = computation_eigen_values(df_rk)
df_rk

,Работа 1,Работа 2,Работа 3,Работа 4,Работа 5,Работа 6,eigen_values,normal_eigen
Работа 1,1.0,0.333333,2.000000,2.0,0.500000,2.00,1.049115,0.151433
Работа 2,3.0,1.000000,4.000000,5.0,2.000000,2.00,2.492883,0.359831
Работа 3,0.5,0.250000,1.000000,2.0,0.500000,3.00,0.849191,0.122575
Работа 4,0.5,0.200000,0.500000,1.0,0.333333,0.25,0.401142,0.057902
Работа 5,2.0,0.500000,2.000000,3.0,1.000000,0.50,1.200937,0.173347
Работа 6,0.5,0.500000,0.333333,4.0,2.000000,1.00,0.934655,0.134911

# 5 Вычисление индекса согласованности

In [45]:
INDEX_CONS_RND = 1.24

## 5. 1 Престиж

In [46]:
df_pr, index = check_consistency(df_pr)
print(f'Индекс согласованности для престижа равен = {str(index)}')
print(f'Индекс средней согласованности для престижа равен = {str((index/INDEX_CONS_RND)*100)}%')

Индекс согласованности для престижа равен = 0.025764824804919685
Индекс средней согласованности для престижа равен = 2.077808452009652%

## 5.2 Заработная плата

In [47]:
df_zp, index = check_consistency(df_zp)
print(f'Индекс согласованности для заработной платы равен = {str(index)}')
print(f'Индекс средней согласованности для заработной платы равен = {str((index/INDEX_CONS_RND)*100)}%')

Индекс согласованности для заработной платы равен = 0.031630788419295716
Индекс средней согласованности для заработной платы равен = 2.5508700338141708%

## 5.3 Местоположение

In [48]:
df_mp, index = check_consistency(df_mp)
print(f'Индекс согласованности для заработной платы равен = {str(index)}')
print(f'Индекс средней согласованности для заработной платы равен = {str((index/INDEX_CONS_RND)*100)}%')

Индекс согласованности для заработной платы равен = 0.01977273369422683
Индекс средней согласованности для заработной платы равен = 1.5945752979215184%

## 5.4 Коллеги

In [49]:
df_kol, index = check_consistency(df_kol)
print(f'Индекс согласованности для заработной платы равен = {str(index)}')
print(f'Индекс средней согласованности для заработной платы равен = {str((index/INDEX_CONS_RND)*100)}%')

Индекс согласованности для заработной платы равен = 0.040147144523111855
Индекс средней согласованности для заработной платы равен = 3.237672945412246%

## 5.5 Рост карьеры

In [50]:
df_rk, index = check_consistency(df_rk)
print(f'Индекс согласованности для заработной платы равен = {str(index)}')
print(f'Индекс средней согласованности для заработной платы равен = {str((index/INDEX_CONS_RND)*100)}%')

Индекс согласованности для заработной платы равен = 0.12105522993902262
Индекс средней согласованности для заработной платы равен = 9.762518543469568%

# 6 При условии что местоположение не измениться

In [55]:
alternatives = ['Местоположение', 'Заработная плата', 'Коллеги', 'Рост карьеры', 'Престиж']
values = [['1', '1/4', '1/3', '1/4', '1/5'],
          ['4/1', '1', '6/1', '1/2', '1/2'],
          ['3/1', '1/6', '1', '1/6', '1/8'],
          ['4/1', '2/1', '6/1', '1', '1/2'],
          ['5/1', '2/1', '8/1', '2/1', '1']]

df_mp_unchg = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_mp_unchg

                 Местоположение Заработная плата Коллеги Рост карьеры Престиж
Местоположение                1              1/4     1/3          1/4     1/5
Заработная плата            4/1                1     6/1          1/2     1/2
Коллеги                     3/1              1/6       1          1/6     1/8
Рост карьеры                4/1              2/1     6/1            1     1/2
Престиж                     5/1              2/1     8/1          2/1       1

In [56]:
df_mp_unchg = computation_eigen_values_crit(df_mp_unchg)
df_mp_unchg

,Местоположение,Заработная плата,Коллеги,Рост карьеры,Престиж,eigen_values,normal_eigen
Местоположение,1.0,0.250000,0.333333,0.250000,0.200,0.334163,0.049040
Заработная плата,4.0,1.000000,6.000000,0.500000,0.500,1.430969,0.210000
Коллеги,3.0,0.166667,1.000000,0.166667,0.125,0.401371,0.058903
Рост карьеры,4.0,2.000000,6.000000,1.000000,0.500,1.888175,0.277097
Престиж,5.0,2.000000,8.000000,2.000000,1.000,2.759459,0.404961

In [57]:
df_weights_unchg = weight_calculation(df_mp_unchg)

In [58]:
df_weights_unchg

           0
w1  0.295105
w2  0.181772
w3  0.181582
w4  0.153562
w5  0.108257
w6  0.079722

# 7 При условии что местоположение измениться в лучшую сторону

In [59]:
alternatives = ['Местоположение', 'Заработная плата', 'Коллеги', 'Рост карьеры', 'Престиж']
values = [['1', '1/7', '1/6', '1/7', '1/8'],
          ['7/1', '1', '5/1', '1/2', '1/3'],
          ['6/1', '1/5', '1', '1/4', '1/8'],
          ['7/1', '2/1', '4/1', '1', '3/1'],
          ['8/1', '3/1', '8/1', '1/3', '1']]

df_mp_chg_plus = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_mp_chg_plus

                 Местоположение Заработная плата Коллеги Рост карьеры Престиж
Местоположение                1              1/7     1/6          1/7     1/8
Заработная плата            7/1                1     5/1          1/2     1/3
Коллеги                     6/1              1/5       1          1/4     1/8
Рост карьеры                7/1              2/1     4/1            1     3/1
Престиж                     8/1              3/1     8/1          1/3       1

In [60]:
df_mp_chg_plus = computation_eigen_values_crit(df_mp_chg_plus)
df_mp_chg_plus

,Местоположение,Заработная плата,Коллеги,Рост карьеры,Престиж,eigen_values,normal_eigen
Местоположение,1.0,0.142857,0.166667,0.142857,0.125000,0.211696,0.029251
Заработная плата,7.0,1.000000,5.000000,0.500000,0.333333,1.422929,0.196616
Коллеги,6.0,0.200000,1.000000,0.250000,0.125000,0.518569,0.071654
Рост карьеры,7.0,2.000000,4.000000,1.000000,3.000000,2.786518,0.385032
Престиж,8.0,3.000000,8.000000,0.333333,1.000000,2.297397,0.317447

In [61]:
df_weights_chg_plus = weight_calculation(df_mp_chg_plus)

In [62]:
df_weights_chg_plus

           0
w1  0.263882
w2  0.214188
w3  0.168725
w4  0.145790
w5  0.116462
w6  0.090953

# 8 При условии что местоположение измениться в худшую сторону

In [63]:
alternatives = ['Местоположение', 'Заработная плата', 'Коллеги', 'Рост карьеры', 'Престиж']
values = [['1', '7/1', '6/1', '7/1', '8/1'],
          ['1/7', '1', '5/1', '1/2', '1/3'],
          ['1/6', '1/5', '1', '1/4', '1/8'],
          ['1/7', '2/1', '4/1', '1', '3/1'],
          ['1/8', '3/1', '8/1', '1/3', '1']]

df_mp_chg_minus = pd.DataFrame(values, columns=alternatives, index=alternatives)
df_mp_chg_minus

                 Местоположение Заработная плата Коллеги Рост карьеры Престиж
Местоположение                1              7/1     6/1          7/1     8/1
Заработная плата            1/7                1     5/1          1/2     1/3
Коллеги                     1/6              1/5       1          1/4     1/8
Рост карьеры                1/7              2/1     4/1            1     3/1
Престиж                     1/8              3/1     8/1          1/3       1

In [64]:
df_mp_chg_minus = computation_eigen_values_crit(df_mp_chg_minus)
df_mp_chg_minus

,Местоположение,Заработная плата,Коллеги,Рост карьеры,Престиж,eigen_values,normal_eigen
Местоположение,1.000000,7.0,6.0,7.000000,8.000000,4.723756,0.597203
Заработная плата,0.142857,1.0,5.0,0.500000,0.333333,0.653347,0.082600
Коллеги,0.166667,0.2,1.0,0.250000,0.125000,0.253248,0.032017
Рост карьеры,0.142857,2.0,4.0,1.000000,3.000000,1.279448,0.161755
Престиж,0.125000,3.0,8.0,0.333333,1.000000,1.000000,0.126425

In [65]:
df_weights_chg_minus = weight_calculation(df_mp_chg_minus)

In [66]:
df_weights_chg_minus

           0
w1  0.310080
w2  0.227999
w3  0.101638
w4  0.108556
w5  0.145854
w6  0.105873

# 9 Таблица полезностей

In [67]:
df_profit = pd.concat([df_weights_unchg, df_weights_chg_plus, df_weights_chg_minus], axis=1)

In [68]:
df_profit = pd.DataFrame(df_profit.values, columns=['Не измениться', 'Измениться в лучшую сторону', 'Измениться в худшую стоону'], index=['Работа ' + str(x) for x in range(1, 7)])

In [69]:
df_profit

,Не измениться,Измениться в лучшую сторону,Измениться в худшую стоону
Работа 1,0.295105,0.263882,0.310080
Работа 2,0.181772,0.214188,0.227999
Работа 3,0.181582,0.168725,0.101638
Работа 4,0.153562,0.145790,0.108556
Работа 5,0.108257,0.116462,0.145854
Работа 6,0.079722,0.090953,0.105873

## 9.1 Критерий максимума ожидаемой полезности

In [71]:
df_crit = maximum_expected_utility(df_profit)

In [72]:
df_crit

           0
w1  0.293353
w2  0.202124
w3  0.155027
w4  0.138506
w5  0.121177
w6  0.089814

## 9.2 Критерий максимина вальда

In [73]:
mins = wald_criterion(df_profit)
mins

[0.26388181217191664,
 0.18177237432891413,
 0.10163774586197805,
 0.1085563754879915,
 0.10825684713435202,
 0.07972196415813326]

In [74]:
max(mins)

0.26388181217191664

# 10 Допополнительное задание

## 10.1 Нелинейная максиминая свертка

###  10.1.1 При условии, что меcтоположение не измениться

In [79]:
df_weights_unchg = weight_calculation_min(df_mp_unchg)
df_weights_unchg

           0
w1  0.006352
w2  0.011544
w3  0.002727
w4  0.004002
w5  0.003274
w6  0.005660

### 10.1.2 При условии что местоположение измениться в лучшую сторону

In [81]:
df_weights_chg_plus = weight_calculation_min(df_mp_chg_plus)
df_weights_chg_plus

           0
w1  0.007728
w2  0.006886
w3  0.001626
w4  0.002387
w5  0.003983
w6  0.003376

### 10.1.3 При условии что местоположение измениться в худшую сторону

In [82]:
df_weights_chg_minus = weight_calculation_min(df_mp_chg_minus)
df_weights_chg_minus

           0
w1  0.003453
w2  0.006089
w3  0.002612
w4  0.006713
w5  0.001780
w6  0.004115

### 10.1. 4 Таблица полезностей

In [83]:
df_profit = pd.concat([df_weights_unchg, df_weights_chg_plus, df_weights_chg_minus], axis=1)
df_profit = pd.DataFrame(df_profit.values, columns=['Не измениться', 'Измениться в лучшую сторону', 'Измениться в худшую стоону'], index=['Работа ' + str(x) for x in range(1, 7)])
df_profit

,Не измениться,Измениться в лучшую сторону,Измениться в худшую стоону
Работа 1,0.006352,0.007728,0.003453
Работа 2,0.011544,0.006886,0.006089
Работа 3,0.002727,0.001626,0.002612
Работа 4,0.004002,0.002387,0.006713
Работа 5,0.003274,0.003983,0.001780
Работа 6,0.005660,0.003376,0.004115

### 10.1.5 Критерий максимума ожидаемой полезности

In [84]:
df_crit = maximum_expected_utility(df_profit)
df_crit

           0
w1  0.005758
w2  0.008976
w3  0.002472
w4  0.004492
w5  0.002968
w6  0.004739

###  10.1.6 Критерий максимина вальда

In [85]:
mins = wald_criterion(df_profit)
mins

[0.0034529418604698037,
 0.006088731300677753,
 0.0016263721504950123,
 0.0023871878513775095,
 0.0017797382918465577,
 0.003375993435350362]

In [86]:
max(mins)

0.006088731300677753